PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/healthcare_db?schema=public  # main database url
LOGS_DATABASE_URL=postgresql://user:password@localhost:5432/logs_db?schema=public   # logs database url
JWT_SECRET=your-secret-key
JWT_EXPIRATION=3600000